body {
    background-color: #A64200;
    background-image: url(../visuals/icons/Fundo_frag.svg);
    background-size: 1600px;
    background-position-y: 100%;
    background-repeat: repeat-x;
}

.bg-dark {
    background-color: #A64200 !important;
    background-image: url(../visuals/icons/Fundo_frag.svg);
    background-size: 500px;
    background-position-y: 75%;
    background-repeat: repeat-x;
}

.navbar-toggler {
    background-color: rgba(232, 121, 36, 0.5);
    border: 1px solid white;
}

.dropdown-item {
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(249,249,249, 1);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(249, 249, 249, 0.8);
}

.text-white {
    color: rgba(249,249,249, 1);
}

.btn-primary {
    color: rgba(249,249,249, 1);
    background-color: rgb(232, 121, 36) ;
    border-color: white;
}

.btn-primary:hover {
    background-color: rgb(255, 121, 36);
    border-color: white;
}

.bg-manuh {
    background-color: rgba(232, 121, 36, 0.7);
}