body {
    background-color: #E87924;
}

.bg-dark {
    background-color: #A64200 !important;
    background-image: url(../../visuals/icons/Fundo_frag.svg);
    background-size: 500px;
    background-position-y: 75%;
    background-repeat: repeat-x;
}

.navbar-toggler {
    background-color: #E87924;
    border: 1px solid white;
}

.dropdown-item {
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}