body {
    background-color: #E87924;
}

.bg-dark {
    background-color: #A64200 !important;
    background-image: url(../../visuals/icons/Fundo_frag.svg); 
}

.navbar-toggler {
    background-color: #E87924;
    border: 1px solid white;
}

.dropdown-item {
    cursor: pointer;
}